# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ Related
*.iml
*.ipr
*.iws
.idea/

# The Directory-Based Project Format
.idea_modules/

# Visual Studio Code Related
.vscode/

# Flutter/Dart/Pub Related
**/doc/api/
**/ios/Flutter/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android Related
**/android/app/key.properties
**/android/app/local.properties
**/android/app/google-services.json
**/android/.gradle
**/android/local.properties
**/android/project.properties
**/android/app/shared_preferences.xml

# iOS/macOS Related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
**/ios/Runner/Base.lproj/LaunchScreen.storyboard
**/ios/Runner/Base.lproj/Main.storyboard
**/ios/Runner/Info.plist

# Web Related
**/web/index.html
